        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-dark" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="../admin/img/user1.jpg"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="../admin/img/user2.jpg"
                                            alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="../admin/img/user3.jpg"
                                            alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="../admin/img/user4.jpg"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Dang Duc Chau</span>
                                <img class="img-profile rounded-circle"
                                     src="../admin/img/admin-avatar.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">All Users</h1>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-secondary">All Users</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">

                                <a href="#!" class="btn btn-light btn-icon-split mb-3 add-button"
                                data-toggle="modal" data-target="#addUserModal">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">ADD NEW</span>
                                </a>
                               
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Email</th>
                                            <th>Avatar</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Email</th>
                                            <th>Avatar</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{#each admins}}
                                        <tr>
                                            
                                            <td>{{this._id}}</td>
                                            <td class="{{this._id}}_firstname">{{this.firstname}}</td>
                                            <td class="{{this._id}}_lastname">{{this.lastname}}</td>
                                            <td class="{{this._id}}_email">{{this.email}}</td>
                                            <td>
                                                <img style="width: 60px; height: 60px; border-radius: 50%;" src="../admin/img/{{this.img}}.jpg" alt="">
                                            </td>
                                            <td>{{this.role}}</td>
                                            <td class="d-flex justify-content-around">
                                                <a href="" class="update-btn" data-id="{{this._id}}" data-toggle="modal" data-target="#updateUserModal" >
                                                    <i class="fa fa-wrench fa-lg action" aria-hidden="true"></i>
                                                </a>
                                                <a href="" data-id="{{this._id}}" data-toggle="modal"  data-target="#delete_courses_modal" class="delete-btn">
                                                    <i  class="fa fa-trash fa-lg function"
                                                        aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>  
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Design by &copy; Team 5 / 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="adminlogin">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add User Modal-->
        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                     <form class="modal-form form-create" action="/all-admin/create" method="POST">
                        <div class="modal-body">
                       
                        <div class="form-group">
                                <input name="email" type="email" class="form-control" id="exampleInputPassword"
                                    placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input name="username" type="username" class="form-control" id="exampleInputPassword"
                                    placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" id="exampleInputPassword"
                                    placeholder="Password">
                            </div>
                            
                            <div class="form-group">
                                <input name="phoneNumber" type="phoneNumber" class="form-control" id="exampleInputPassword"
                                    placeholder="phoneNumber">
                            </div>
                            <div class="form-group">
                                <input name="firstname" type="firstname" class="form-control" id="exampleInputPassword"
                                    placeholder="Firstname">
                            </div>
                            <div class="form-group">
                                <input name="lastname" type="lastname" class="form-control" id="exampleInputPassword"
                                    placeholder="Lastname">
                            </div>
                            <div class="form-group">
                                <input name="age" type="age" class="form-control" id="exampleInputPassword"
                                    placeholder="age">
                            </div>
                            <div class="form-group">
                                <input name="img" type="img" class="form-control" id="exampleInputPassword"
                                    placeholder="IMG">
                            </div>
                            {{!-- <select name="role" multiple class="form-control" id="select1">
                                <option Selected value="user">User</option>
                                <option value="admin">Admin</option>
                            </select> --}}
                      
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                      </form>
                </div>
            </div>
        </div>

        
    <!-- Edit modal -->
    <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="" id="modalEdit" data-dismiss="modal" style="text-decoration: none; color: #000">
                        X
                    </a>
                </div>
                <div class="modal-body">
                    <form  method="POST" class="update-form">
                        <label style="display: none" for="" class="getId"></label>
                        <div class="form-group">
                            <input value="" name="email" type="email" class="form-control" id="exampleInputPassword1"
                                placeholder="Email" disabled>
                        </div>
                        <div class="form-group">
                            <input value="" name="firstname" type="firstname" class="form-control" id="exampleInputPassword1"
                                placeholder="Firstname" >
                        </div>
                        <div class="form-group">
                            <input value="" name="lastname" type="lastname" class="form-control" id="exampleInputPassword1"
                                placeholder="Lastname" >
                        </div>
                        {{!-- <select name="level" class="form-control" id="select2">
                            <option class="update-option1" value='0'>User</option>
                            <option class="update-option2" value='1'>Admin</option>
                        </select> --}}
                        <button name="editUser" type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{!-- confirm delete user --}}

<div class="modal fade" id="delete_courses_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa User này! 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST" >
       
    </form>

<script>
 document.addEventListener('DOMContentLoaded',function(){
    var userId; 
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    // when dialog confirm clicked 
    $('#delete_courses_modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) ;
      userId = button.data('id') ;
      
    });
  
   
    
    btnDeleteCourse.onclick = function (){
      deleteForm.action = '/all-admin/'+ userId + '?_method=DELETE';
      deleteForm.submit();
    }
    $(".update-btn").click(function () {
           
            var id = $(this).attr("data-id")
            var email = $("." + id + "_email").html()
            console.log(email)
            var firstname = $("." + id + "_firstname").html()
            var lastname = $("." + id + "_lastname").html()
            $(".update-form input[name=email]").val(email)
            $(".update-form input[name=firstname]").val(firstname)
            $(".update-form input[name=lastname]").val(lastname)
            $(".getId").html(id)
    })

    $(".update-form").submit(function (e) {
    e.preventDefault()
    const formData = {
        id: $('.getId').html(),
        firstname: $('.update-form input[name=firstname]').val(),
        lastname: $('.update-form input[name=lastname]').val(),
        //level: $('#select2 option:selected').val(),
    }

    const id = $(".getId").html()
    console.log(formData);
    console.log(id)

    $.ajax({
        type: "PUT",
        url: `http://localhost:3000/all-admin/${id}`,
        data: JSON.stringify(formData),
        contentType: 'application/json',
        encode: true,
    }).done(function (res) {
        $('#modalEdit').click()
    })

})



 });
 


 

</script>