<div class="mt-4">
    <h3>Update profile</h3>
    <form method="POST" action="/admin/{{admin._id}}?_method=PUT">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" value="{{admin.username}}" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" name="password" value="{{admin.password}}" id="password">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" value="{{admin.name}}" id="name">
        </div>
         <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <textarea  class="form-control" name="age" value="" id="age">{{admin.age}}</textarea>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>